html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}


iframe {
    border: none; 
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden; 
}
